package initialize

import (
	"context"
	model "admin_base_server/model/system"
	"admin_base_server/plugin/plugin-tool/utils"
)

func Api(ctx context.Context) {
	entities := []model.SysApi{}
	utils.RegisterApis(entities...)
}
